<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DailyReportSystem</title>
    <link rel="stylesheet" th:href="@{/css/employee/update.css}">
</head>
<body>
    <h1>従業員情報 編集ページ</h1>
    <a>(パスワードは変更する場合のみ入力してください)</a>
    <form method="post" th:action="@{/employee/update/{id}/(id=${employee.id})}" th:object="${employee}">
    <a>社員番号</a><br>
    <a th:text="${employee.authentication.code}"></a>
<br>
    <label for="name">氏名</label><br>
    <input type="text" th:field="*{name}">
<br>
    <label for="password">パスワード</label><br>
    <input type="text" th:field="*{authentication.password}">
<br>
    <label for="role">権限</label><br>
    <select th:field="*{authentication.role}">
        <option th:each="item:${T(com.techacademy.entity.Authentication.Role).values()}" th:value="${item}" th:text="${item}">
    </select>
<br>
<input type="submit" value="投稿">
<br>

    <a th:href="@{/employee/delete/{id}/(id=${employee.id})}">この従業員情報を削除する</a><br>
    <a th:href="@{/}">一覧に戻る</a><br>

    </form>
</body>
</html>